@use 'src/styles/vars';

.connexionRegistration {
  display: flex;
 justify-content: center;
 margin: 0;


&-photo{
  background-image: none;
  background-color: transparent;
  filter: blur(0.5px);
  height: 100vh;
  // l'image se coupe pour s adapter à la taille de l'écran
  object-fit: cover;
  width: 100%;
  opacity: 100%;
}
}
 @media screen and (min-width: 600px) {
   
 }