@use 'src/styles/vars';

.connexionRegistration {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative ;
}
.photo {
  background-image: none;
  background-color: transparent;
  filter: blur(0.5px);
  height: 100%;
 width: 380px;
 position: absolute;
 opacity: 100%;
}
