@use 'src/styles/vars';


body {
  .app {
  @media screen and (max-width: 941px) {  
      .cardInfos {
        max-width: 80%;
        margin: 0 auto;
        box-shadow: vars.$box-shadow;
        border-radius: vars.$border-radius-global;
        margin-bottom: 1.5rem;
        font-family: vars.$font;
        border: vars.$color, 2px solid;

        &-travel {
          display: flex;
          text-align: center;
          margin: 1rem;

          &_left {
            min-width: 50%;
            border-right: 1px solid vars.$color-grey;

            &__profil {
              color: vars.$color;
            }

            &__destination {
              font-size: 1.5rem;
              margin-top: 1rem;
              color: vars.$color-grey_more;
            }
          }

          &_right {
            min-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 1.5rem;

            &__date, &__hour {
              color: vars.$color-grey_more;
            }

            &__tag {
              color: vars.$color;
            }
          }
        }
      }  
   }
  }
}


//version tablette laptop
body {
    .app {
  @media screen and (min-width: 942px) and (max-width: 1230px) {
        .cardInfos {     
          max-width: 85%;
          margin: 0 auto;
          box-shadow: vars.$box-shadow;
          border-radius: vars.$border-radius-global;
          margin-bottom: 1.5rem;
          font-family: vars.$font;
          border: vars.$color, 2px solid;
          background-color: vars.$color_light;

          &-travel {
            display: flex;
            text-align: center;
            margin: 1rem;

            &_left {
              min-width: 50%;
              border-right: 1px solid vars.$color-grey;

              &__profil {
                color: vars.$color;
              }

              &__destination {
                font-size: 1.5rem;
                margin-top: 1rem;
                color: vars.$color-grey_more;
              }
            }

            &_right {
              min-width: 50%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              font-size: 1.5rem;

              &__date, &__hour {
                color: vars.$color-grey_more;
              }

              &__tag {
                color: vars.$color;
              }
            }
          }
        }  
    }
  }

}