@use 'src/styles/vars';


body {
  .app {
  @media screen and (max-width: 941px) { 
    
    a:hover{
      color: vars.$color-light;
    }
    
      .cardInfos {
        max-width: 85%;
        margin: 0 auto;
        box-shadow: vars.$box-shadow;
        border-radius: vars.$border-radius-global;
        margin-bottom: 1.5rem;
        font-family: vars.$font;

        &-travel {
          display: flex;
          flex-direction:column-reverse;
          text-align: center;
      
          &_top {
            min-width: 50%;
            margin-bottom: 1rem;

            &__logo{
              width: 30px;
              margin-top: 2rem;
            }
      
            &__profil {
              color: vars.$color;
              font-size:1rem;       
            }
      
            &__box__destination{
              display:flex;
              justify-content: space-between;
              align-items: baseline;
              margin: 2rem 1rem 0 1rem;
              border-bottom: dotted .15rem vars.$color;
              border-radius: 250%; 
              &__city {
              font-size: 1.5rem;
              
              &_d{
                text-align: left;
                color: vars.$color-grey_more;
                & img{
                width: 15px;
                }
              }
              &_a{
                text-align: right;
                color: vars.$color-grey_more;
                & img{
                  width: 15px;
                }
              }
            }
            }      
          }
      
          &_bottom {
            min-width: 50%;
            &__date {
              color: vars.$color-grey_more;
              font-size: 1rem;
              margin: .5rem;
            }
      
            &__tag {
              display:block;
              width: 100%;
              height: 3rem;
              background: vars.$color;
              border-radius: 14px 14px 0 0;
              padding: .75rem;
            }
          }
        }
      } 
   }
  }
}


//version tablette laptop
body {
    .app {
  @media screen and (min-width: 942px) and (max-width: 1230px) {
        .cardInfos {     
          max-width: 95%;
          margin: 0 1.5rem 1.5rem 1rem;
          box-shadow: vars.$box-shadow;
          border-radius: vars.$border-radius-global;
          font-family: vars.$font;
          border: vars.$color, 2px solid;
          background-color: vars.$color_light;

          &-travel {
            display: flex;
            flex-direction:column-reverse;
             text-align: center;
            //text-align: center;
            //margin: 1rem;

            &_top {
              min-width: 50%;
              margin-bottom: 1rem;

              &__logo{
                width: 30px;
                margin-top: 2rem;
              }

              &__profil {
                color: vars.$color;
              }

              &__box__destination{
                display:flex;
                justify-content: space-between;
                align-items: baseline;
                margin: 2rem 1rem 0 1rem;
                border-bottom: dotted .15rem vars.$color;
                border-radius: 250%; 
                &__city {
                font-size: 1.5rem;
                
                
                &_d{
                  text-align: left;
                  color: vars.$color-grey_more;
                  & img{
                  width: 15px;
                }
                }
                &_a{
                  text-align: right;
                  color: vars.$color-grey_more;
                  & img{
                    width: 15px;
                  }
                }
              }
              }      
            }

            &_bottom {
              min-width: 50%;
              &__date {
                color: vars.$color-grey_more;
                font-size: 1rem;
                margin: .5rem;
              }
        
              &__tag {
                display:block;
                width: 100%;
                height: 3rem;
                background: vars.$color;
                border-radius: 14px 14px 0 0;
                padding: .75rem;
              }
            }
          }
        }  
    }
  }

}