@use 'src/styles/vars';

.search{
  margin-top: 2rem;
  position: relative;
  top: -120px;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: vars.$box-shadow;
    border-radius: vars.$border-radius-bottom;
    
    &_input, &_select, &_date {
      font-size: 1rem;
      border: none;
      padding: 1.2rem;
      font-family: vars.$font;
    };

    &_sport__date {
      display: flex;
    };

    &_select {
      background-color: vars.$color-light;
    }

    &_submit {
      background-color: vars.$color;
      border-radius: vars.$border-radius-bottom;
      border: none;
      padding: 0.5rem;
    }

    &_select, &_date {
      width: 50%;
    };

    &_date {
      background-color: vars.$color-light;
      border-left: vars.$color-grey 0.5px solid;
      
    }
  };

  &-trip {
    border: vars.$color, 2px solid;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: vars.$box-shadow;
    border-radius: vars.$border-radius-global;
    margin-top: 2rem;
    position: relative;
    top: -120px;

    &_text {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      color: vars.$color-grey_more;
    }
  }
};



.depart {
  border-radius: 10px 10px 0 0;
  border-bottom: vars.$color-grey 0.5px solid;
}

.destination {
  border-bottom: vars.$color-grey 0.5px solid;
}

.loupe {
  width: 30px;
}
