.search{
    margin-top: 0.5em;
    color: #303030;
    
    &-form {
        width: 100vw;
        height: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
            &_select {
                background-color: #f5f5f5;
            };

            &_input {
              text-align: center;
              background-color: #f5f5f5;
              
            };
            
            &_date {
              text-align: center;
              background-color: #f5f5f5;
            };

            &_submit {
              margin-left: 1em;
              background-color: #f5f5f5;
              
            };
            &_select, &_input, &_date {
                width: 40%;
                border: none;
            }
            &_select, &_input {
                border-right: #303030 1px solid; 
            }
    };

   

}
