@use 'src/styles/vars';

.detailsProfils {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  top: -130px;
  margin-top: 2rem;
}

.detailsProfil {
  margin-bottom: 1.5rem;
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  font-family: vars.$font;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;

  &-pseudo {
    text-align: center;
    color: vars.$color;
    text-transform:uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: vars.$color;
    color: vars.$color-light;
    border-radius: vars.$border-radius-top;
    padding: 1rem;
  }

  &-activities {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
  }

  &-tag {
    // position: relative;
    color: vars.$color;
    border: 1px solid vars.$color;
    padding: 0.30rem;
    font-size: 1rem;
    margin: 0.25rem;
    border-radius: vars.$border-radius-global;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  &-form{
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  &-commentaire{
    width: 100%;
    border: none;
    padding: .75rem;
    border-radius: .5rem;
    background-color: white;
  }

  &-submit{
    width: 100%;
    height: 3rem;
    border: none;
    background: #FC982C;
    padding: 1rem;
    color: vars.$color-light;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: vars.$border-radius-bottom;
  }
}
