@use 'src/styles/vars';

.footer {
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;

    &-logo {
        
        // position: ;
        &_instagram, &_facebook, &_twitter {
            width: 15px;
            opacity: 80%;
        }
    }
    &-links {
        display: flex;
        flex-direction: column;
    }
}
