@use 'src/styles/vars';

.header {
  max-width: 100%;
  position: relative;
  

  &-photo {
    /* On met en place le fond d'écran */
    //min-height: 100%;
    // max-width: 640px;
    /* On indique un redimensionnement proportionnel */
    background-image: none;
    background-color: transparent;
    filter: blur(0.6px);
    height: auto;
    width: 100%;
    /* L'image est positionnée en haut à gauche */
    // position: relative;
    // top: 0;
    // left: 0;
  };

  &-logo {
    width: 220px;
    position: absolute;
    right: 70px;
    top: 50px;

   
  };

  &-login {
    width: 70px;
    position: absolute;
    right: 10px;
    top: 10px;
  };
};
