@use './src/styles/vars';

.not-found-page {
  border: vars.$color, 2px solid;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  background: vars.$color-light;
  top:-130px;

  &_oups {
    color: vars.$color;
    font-size:1.6em;
    font-weight: bold;
    padding-top: 1rem;
  }
  &_texterror {
    color: vars.$color;
    font-size: 1.2em;
    padding-top: .5rem;
  }

  &_surf {
    position: relative;
    width: 80%;
  }

  &_404 {
    padding-top: 1rem;
    font-size: 1em;
  }
  
  &_link {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: vars.$color-grey_more;
  }
}
