@use 'src/styles/vars';

@media only screen and (max-width: 600px){
}

body {
// Formulaire d'inscription
.signin {
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  min-width: 320px;
  //width: 100%;

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: vars.$color;
    color: vars.$color_light;
    text-align: center;
    padding: 1.2rem;
    border-radius: vars.$border-radius-top;
  };

  &-name {
    border-bottom: vars.$color-grey solid 0.5px solid;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
    &-input {
      width: 100%;
      font-size: 1em;
      border: 0.2px solid vars.$color-grey;
      //border: none;
      padding: 1.2rem;
      font-family: vars.$font;

      &-name {
        //width: 100%;
        font-size: 1em;
        border: none;
        padding: 1.2rem;
        font-family: vars.$font;
        max-width: 50%;
      }
    };

    &-submit {
      background-color: vars.$color;
      border-radius: vars.$border-radius-bottom;
      border: none;
      padding: 0.8rem;
      color: vars.$color_light;
      font-size: 1.3em;
    };
  };
};

.pseudo, .password {
  border-bottom: vars.$color-grey solid 0.5px solid;
}

.nom {
  border-right: vars.$color-grey solid 0.5px solid;
}

}
