@use 'src/styles/vars';

.main {
  background-color: vars.$color;
  height: 50vh;

    &-title{
    text-align: center;
    color: #ececec;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
