.main {
    display: flex;
    flex-direction: column;
    background-color: #4B4B4B;
    min-height: 70vh;

    &-title{
        color: #ececec;
        margin-top: 2rem;
        font-size: 1.4rem;
    }
}
