@use 'src/styles/vars';
.card {
  padding: 0.5rem;

  &-destination {
    background-color: #E5E5E5;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 0.8em 0.5em;
    color: vars.$color;
  } 
}
