@use 'src/styles/vars';
.card {
  padding: 0.5rem;

  &-destination {
    background-color: white;
    text-align: center;
    font-weight: bold;
    max-width: 80%;
    margin: 0 auto;
    padding: 0.9em 0.5em;
    color: vars.$color;
  } 
}
