@use './src/styles/vars';


.profil {
 /*display: flex;
 flex-direction: column;
 position: absolute;
 max-width: 80%;*/
  max-width: 80%;
  margin: 1.5rem auto;
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  font-family: vars.$font;
  border: vars.$color, 1px solid;
  outline: none;


//Formulaire pour créer ou modifier son profil
&-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: none;
 
 
  &-title {
   
    font-size: 1.5em;
    font-weight: bold;
    background-color: vars.$color;
    color: vars.$color_light;
    text-align: center;
    padding: 1.5rem;
    border-radius: vars.$border-radius-top;
  };



  &-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px; 
  };

    &-text {
      background-color: vars.$color;
      color: vars.$color_light;
      font-size: 1.3em;
      padding: 0.5rem;
    };

    &-button {
        margin: auto 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: vars.$color_light;
        outline: none;
       
      };

    &-submit {
      background-color: vars.$color_light;
      border: vars.$color solid 0.1px;
      color: vars.$color;
      text-shadow: 0.1em 0.1em 0.1em vars.$color-grey;
      font-size: 1.2em;
      font-weight: bold;
      padding: 1rem;
      margin: auto;
      border-radius:25px;
      display: flex;
      text-align: center;
      outline: none;
      //width: 100vh;
    };

      &-sport {
      display: flex;
      flex-direction: row;
      background-color: vars.$color-light;
      padding: 1rem;
        
      };

      &-input {
          display: flex;
          flex-direction: column;
          margin: 1rem;
          padding: 1rem 0.5rem 0.5rem 1rem;        
          font-size: 1em;        
          font-size: 1.1em;
          border-bottom: vars.$color-grey solid 0.5px solid;
          border: 0.5px solid vars.$color-grey;
          color: vars.$color-grey_more;
          height: 3rem;
          
          border: none;
          padding-left: 1rem;
      };

      &-select {
            background-color: vars.$color-light;
            padding: 1rem;
            margin: auto;
            border-color: vars.$color;
            color: vars.$color-grey_more;
            font-size: 1.2em;
            font-family: vars.$font;
            //width: 80%;
        }

      &-bio {
        background-color: vars.$color_light;
       text-align: center;
      };

      &-textarea {
        border-radius: 10px;
        margin-top: 1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        border: none;
        outline: none;
       width: 97%;
        border: vars.$color solid 0.1px;
        color: vars.$color-grey_more;
        text-align: center;
      }
    };
  
    .home-redirection {
      background-color: vars.$color;
      padding: 0.8rem;
      font-family: vars.$font;
      color: vars.$color_light;
      border-radius: vars.$border-radius-bottom;
      text-overflow: clip;
      display: flex;
     // flex-direction: row;
      position: relative;
       
    &-text {   
      font-size: 1.1em;
      text-align: right;
    };
    
    &-link {
        text-shadow: 0.1em 0.1em 0.2em vars.$color-grey_more;
        text-overflow: clip;
        color: vars.$color_light;              
        font-size: 1.1em;
        padding-left: 1rem;
        text-align: right;
    
      }
    };
};
/*
  &-input {
    border-bottom: vars.$color-grey solid 0.5px solid;
    border: 0.5px solid vars.$color-grey;
    border: none;
    //max-width: 30%;
    //padding-left: 3rem;
    height: 4rem;
    
      &-date {
        color: vars.$color-grey_more;
      };
    };
*/

