@use './src/styles/vars';

@media only screen and (min-width: 850px) and (max-width: 950px){
}

body {

.profil {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 15rem;
  position: relative;
  object-fit: cover;
  top: -400px;

}

//Formulaire pour créer ou modifier son profil
.profil-form {
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  font-family: vars.$font;
  display: block;
  justify-content: center;
  position: absolute;
 // margin: 2rem 0;

  &-title {
    font-size: 1.5em;
    font-weight: bold;
    background-color: vars.$color;
    color: vars.$color_light;
    text-align: center;
    padding: 1.2rem;
    border-radius: vars.$border-radius-top;
  };

  &-element {
    background-color: vars.$color_light;
    display: block;
    justify-content: center;
    border-radius: 10px;
  };
  &-input {
    border-bottom: vars.$color-grey solid 0.5px solid;
    border: 0.5px solid vars.$color-grey;
    border: none;
    //padding: 1.5rem 0;
    font-size: 1.3em;
    max-width: 50%;
    padding-left: 1rem;
    height: 4rem;
    //border-radius: 10px;
      
      &-date {
        color: vars.$color-grey_more;
       // background-color: vars.$color-light;
      }
    }
  }

/*
.date {
  //color: vars.$color-grey_more;
}*/

.checkbox {

  &_text{
    padding: 1rem;
    background-color: vars.$color;
    color: vars.$color_light;
    font-size: 1.3em;
  }

  &_input {
    color: vars.$color-grey_more;
    font-size: 1.3em;
    padding: 1rem;
    padding-top: 1rem;
   

  }
}

}
/*
@media only screen and (min-width: 550px) and (max-width: 850px){
}
body {
  .pageProfil {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    object-fit: cover;
    top: -250px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 550px){
}
body {
  .pageProfil {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    object-fit: cover;
    top: -150px;
  }
}


@media only screen and (min-width: 320px) and (max-width: 400px){
}
body {
  .pageProfil {
    //max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    object-fit: cover;
    top: -180px;
  }
}


//
/*
pageProfil {
  max-width: 80%;
  margin: 0 auto;

}
.profil {
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  margin: 2rem 0;

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: vars.$color;
    color: vars.$color_light;
    text-align: center;
    padding: 1.2rem;
    border-radius: vars.$border-radius-top;

  }
  &-form {

    &_input {
      padding: 1.5rem 0;
      font-size: 1.5rem;
      max-width: 50%;
      border: none;
      
      &_date {
        background-color: vars.$color-light;
      }
    }
  }
}

.date {
  background-color: vars.$color-light;
}

.checkbox {

  &_text{
    background-color: red;
    font-size: 1.5rem;
  }

  &_input {
    font-size: 1.5rem;
    padding: 1rem;

  }
}
*/