@use './src/styles/vars';


.profil-form {
  width: 85%;
  margin: 0;
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  background-color: vars.$color_light;
  color: vars.$color-grey_more;
  font-family: vars.$font;
  border: vars.$color, 2px solid;
  font-size: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  
    &-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px; 
    };

    &-title {
      font-size: 1.3em;
      font-weight: bold;
      background-color: vars.$color;
      color: vars.$color_light;
      text-align: center;
      padding: 0.5rem;
      border-radius: vars.$border-radius-top;
    };

    // photo nom prenom date de naissance upload pseudo
      &-header {
        display: flex;
        background: vars.$color_light; 
      };

      //top right NOM et prenom
      &-identity {          
          display: flex;
          flex-direction: column;
          justify-content: space-between; 
          padding-left: 0rem;
          padding-right: 1.5rem;
         
          &_firstname {
            padding-top: 3rem;
            border: vars.$color-grey solid 1px; ;
          //border-bottom:  0.1px;
            //outline: none;
          }

          &_lastname{
            padding-bottom: 1rem;
          }
           &_input {
             border: none;
           }
      };

      // upload photo et affichage
      &-upper {
          display: flex;
          flex-direction: column;
          height: 15rem;
         
          &_picture {
            background: vars.$color_light;
            border: vars.$color-grey solid 1px;
            border-radius: 50%;
            width: 180px;
            height: 180px;
            transform: translate(20px,20px); 
             
            &_icone {
            width: 160px;
            height: 160px;
            transform: translate(8px);    
            }            
          }

          &_upload {
            padding-top: 2rem;
            padding-bottom: 0.2rem;
            padding-left: 3rem;
            color: rgba(255, 255, 255, 0);
          }
        };

       // bloc pseudo et date de naissance  
      &-pseudobirthdate {
          display: flex;
          justify-content: space-around;
          background-color:  vars.$color_light;
          padding-right: 1.5rem;
          padding-bottom: 1rem;       
      };
    
        &-date {   
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom: vars.$color-grey 1px solid;
      padding-left: 0rem;         
      background-color: vars.$color_light;
      color: vars.$color-grey_more;
        };

        &-pseudo {    
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom: vars.$color-grey 1px solid;
      padding-left: 0rem;         
      background-color: vars.$color_light;
      color: vars.$color-grey_more;
        };
        
      // espace bio
      &-bio {
        padding-top: 1.5rem;
        background-color: vars.$color_light;
       text-align: center;
      };

      &-textarea {
        border-radius: 10px;
        margin-top: 1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        border: none;
        outline: none;
        width: 95%;
        border: vars.$color solid 0.1px;
        color: vars.$color-grey_more;
        text-align: center;
        font-size: 0.9em;
      }

      &-emailpassword {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        background: vars.$color_light; 
        padding: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        

        &_input {       
          border-right: none;
          border-left: none;
          border-top: none;
          border-bottom: vars.$color-grey 1px solid;
          padding-top: 1rem;
          height: 2rem;
            }
        };


  // bouton sauvegarder
    &-button {
      margin: auto 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: vars.$color_light;
      outline: none;     
    };

    &-submit {
      background-color: vars.$color_light;
      border: vars.$color solid 0.1px;
      color: vars.$color;
      text-shadow: 0.1em 0.1em 0.1em vars.$color-grey;
      font-size: 1.2em;
      font-weight: bold;
      padding: 1rem;
      margin: auto;
      border-radius:25px;
      display: flex;
      text-align: center;
      outline: none;
    };

    // bas de page avec link etour vers la page d'accueil
    .home-redirection {
      background-color: vars.$color;
      padding: 0.8rem;
      font-family: vars.$font;
      color: vars.$color_light;
      border-radius: vars.$border-radius-bottom;
      text-overflow: clip;
      display: flex;
      justify-content: center;
      position: relative;
       
    &-text {   
      font-size: 1.3em;
      text-align: right;
    };
    
    &-link {
        text-shadow: 0.1em 0.1em 0.2em vars.$color-grey_more;
        color: vars.$color_light; 
        text-overflow: clip;            
        font-size: 0.8em;
        padding-left: 1rem;
        text-align: right;   
      }
    };


  };


