@use 'src/styles/vars';

/*@media only screen and (min-width: 600px){
}

body {*/
// Formulaire d'inscription

.signin {
    margin: 0 auto;
    max-width: 100%;
}

 .signin-form {
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  font-family: vars.$font;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -4.5rem;
  margin-bottom: 2rem;
  margin-left: 2.5rem;
  margin-right: 1rem;
  max-width: 85%;
 

  &-title {
    font-size: 1.5em;
    font-weight: bold;
    background-color: vars.$color;
    color: vars.$color_light;
    text-align: center;
    padding: 1.5rem;
    border-radius: vars.$border-radius-top;
  }

  &-element {
   width: 100%;
    border-radius: 10px;
  }
    
    &-submit {
      background-color: vars.$color_light;
      display: flex;
      justify-content: center;
      border: vars.$color-grey_more;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: vars.$color;
      text-shadow: 0.1em 0.1em 0.1em vars.$color-grey;
      font-size: 1.3em;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  .login-redirection {
    background-color: vars.$color;
    padding: 1rem;
    font-family: vars.$font;
    color: vars.$color_light;
    border-radius: vars.$border-radius-bottom;
    text-align: center;
    text-overflow: clip;
    
  &-text {
    font-size: 1.1em;
  }
  
  &-link {
      text-shadow: 0.1em 0.1em 0.2em vars.$color-grey_more;
      text-overflow: clip;
      color: vars.$color_light;              
      font-size: 1.2em;
       //float: center;
  
    }
  }

  .signin-button {
    background-color: vars.$color_light;
    
}

//}
/*

  @media only screen and (max-width: 360px){
  }
  
  body {*/
  
 /* 
    .signin-form {
     // margin: 2rem;

      // s'identifier
      &-title {
        font-size: 1.5em;
        padding: 1rem;
      };
    
          &-submit {
           background-color: rgba($color: #ffffff00, $alpha: 1.0);   
            text-shadow: 0.1em 0.1em 0.1em vars.$color-grey; 
            color: vars.$color;  
            padding-top: 1rem;
            padding-bottom: 1rem;        
            font-size: 1.3em;
           width: 50vmax; 

          };
        };


        .login-redirection {
         background-color: vars.$color;
         background-color: rgba($color: #FC982C, $alpha: 1.0);
    
        &-text {
          padding-top: 0.5rem;
          padding-bottom: 0.7rem;
          font-size: 1em;
          font-weight: bold;
        };
        
        &-link {
            text-shadow: 0.1em 0.1em 0.2em vars.$color-grey_more;             
            font-size: 1em;
            padding-left: 1rem;
            
        
          }
    
      }

    }
*/
  

