@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

// @use 'src/styles/vars';

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  background-color: white ;
  font-family: 'Roboto Mono', monospace;
}
