@use 'src/styles/vars';


@media only screen and (min-width: 600px){
}

body {

  .login {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    //max-width: 600px;
    text-align: center;

    &-photo {
      background-image: none;
      opacity: 70%;
      background-color: transparent;
      filter: blur(0.6px);
      height: auto;
      width: 100%;
    }
  }

  /*
  .connexionRegistration {
  display: flex;
 justify-content: center;
 margin: 0;


&-photo{
  background-image: none;
  background-color: transparent;
  filter: blur(0.5px);
  height: 100vh;
  // l'image se coupe pour s adapter à la taille de l'écran
  object-fit: cover;
  max-width: 100%;
  opacity: 100%;
}
}
 @media screen and (max-width: 600px) {
   
 }
  */

// Formulaire de connexion
.login-form {
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius-global;
  font-family: vars.$font;
  display: block;
  justify-content: center;
  position: absolute;
  //width: 100vh;

  // s'identifier
  &-title {
    font-size: 1.5em;
    font-weight: bold;
    background-color: vars.$color;
    color: vars.$color_light;
    text-align: center;
    padding: 2rem;
    border-radius: vars.$border-radius-top;
  };

  &-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
   // background-color: vars.$color_light;
    };

    &-submit {
      background-color: vars.$color;
      display: flex;
       justify-content: center;
      border: vars.$color-grey_more;
      padding-top: 2.5rem;
      padding-bottom: 2rem;
      color: vars.$color_light;
      text-shadow: 0.1em 0.1em 0.1em vars.$color-grey;
      font-size: 1.3em;
      font-weight: bold;
      display: inline-block;
     text-align: start;
     
      width: 100vh;
    };

  };
    .signin-redirection {
      background-color: vars.$color;
      padding-bottom: 2rem;
      font-family: vars.$font;
      color: vars.$color_light;
      border-radius: vars.$border-radius-bottom;
      text-align: center;
      text-overflow: clip;
      

    &-text {
      padding: 1.5rem;
      font-size: 1.1em;
    };
    
    &-link {
        text-shadow: 0.1em 0.1em 0.2em vars.$color-grey_more;
        text-overflow: clip;
        color: vars.$color_light;              
        font-size: 1.2em;
        font-family: vars.$font;
         //float: center;
    
      }
    }

    .button {
      background-color: vars.$color_light;
    }
  };



  @media only screen and (max-width: 360px){
  }
  
  body {
    .login {
     
    &-photo {
       width: 100%;
       height: 100vh;
      object-fit: cover
    }
    
    .login-form {
      margin: 2rem;
    
      // s'identifier
      &-title {
        font-size: 1.5em;
        padding: 1rem;
      };
    
        &-submit {
          background-color: rgba($color: #ffffff00, $alpha: 1.0);  
          color:  vars.$color;    
          padding-top: 1rem;
          padding-bottom: 1rem;        
          font-size: 1.3em;
         width: 50vmax;
          
        };
    
      };
        .signin-redirection {
         background-color: vars.$color;
         background-color: rgba($color: #FC982C, $alpha: 1.0);
          padding-bottom: 1.5rem;
       
          
    
        &-text {
          padding: 1rem;
          font-size: 1em;
          font-weight: bold;
        };
        
        &-link {
            text-shadow: 0.1em 0.1em 0.2em vars.$color-grey_more;             
            font-size: 1.1em;
            
        
          }
        }
      }
  }





/*
    .login {
    //utilisateur connecté
    &-logged {
      display: flex;
      flex-direction: column;
      background-color: vars.$color;
      text-align: center;
      align-items: center;
      border-radius: 15px;
      justify-content: flex-end; 

    };

    &-message {
      margin: 1.5rem 1rem;
      font-size: 1.9em;
      color: vars.$color_light;
    };


    //se déconnecter
    &-button {
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      color: vars.$color-grey_more;
      background-color: vars.$color_light;
      border-radius: 100px;
      border: 0;
      padding: 0.8rem 1rem 0.8em 1em;
      margin-bottom: 0.8rem;
    }
  }

*/

/*
.connexion {
  display: flex;
  flex-direction: column;

 box-shadow: vars.$box-shadow;
 border-radius: vars.$border-radius-global;

&-photo{
  background-image: none;
  background-color: transparent;
  filter: blur(0.5px);
  height: 100vh;
  // l'image se coupe pour s adapter à la taille de l'écran
  //object-fit: cover;
  max-width: 100%;
  opacity: 100%;
}
}*/