//couleur principale
$color: #FC982C;
// $color-alt: #f1c5b6;

//couleur secondaire
$color-light: #fff;
// $gutter: 0.8rem;
$font: 'Roboto Mono', monospace;
// $transition-fast: 0.2s;
$color-grey: #ccc;

$border-radius-top: 10px 10px 0 0;

$border-radius-bottom: 0 0 10px 10px;

$border-radius-global: 10px 10px 10px 10px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
