//couleur principale
$color: #FC982C;
// $color-alt: #f1c5b6;
$color-opacity: #fc972c6b;

//couleur secondaire
$color-light: #fff;
// $gutter: 0.8rem;
$font: 'Roboto Mono', monospace;
// $transition-fast: 0.2s;
$color-grey: #ccc;

$color-grey_more: rgb(99, 98, 98); 

$border-radius-top: 15px 15px 0px 0px;

$border-radius-bottom: 0px 0px 15px 15px;

$border-radius-global: 15px 15px 15px 15px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
