@use 'src/styles/vars';

.info {
    box-shadow: vars.$box-shadow;
    border-radius: vars.$border-radius-global;
    background-color: vars.$color_light;
    //border: vars.$color, 2px solid;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    max-width: 90%;
    margin: 0 auto;
    position:relative;
    top:-100px;
   
    &-concept {
        font-size: 1.5em;
        padding: 1.4rem;
        text-align: center;
        background-color: vars.$color;
        color: vars.$color_light;
        border-radius: vars.$border-radius-top;
        //margin: 0 auto;
    }

    &-text {
        text-align: center;
        align-items: center;
        position: relative;
        padding: 0rem 2rem; 
       
    }
    &-contactus {
        font-size: 1.2em;
        margin: 0 auto;
        padding: 0.5rem;
        text-align: center;
        background-color: vars.$color;
        color: vars.$color_light;
        border-radius: vars.$border-radius-bottom;
    }

    &-team {
        margin: 0;
    }
    
    &-detail {
        display: flex;
        flex-direction: column;
        text-align:center;
        align-items: center;
       // border-bottom: 1px solid vars.$color-grey;
        //margin: 0;
        font-size: 1em;
        color: vars.$color-grey_more;

        &_img {
            width: 150px;
	        height: 150px;
            
        }

        &_description {
            font-weight: bold;
            padding-top: 1.5rem;
            padding-bottom: 2rem;
        }
    }
};